@page
@model PSA_OM.Pages.BookModel

@{
    ViewData["Title"] = "Book an Apartment";
}

<h1>Book an Apartment</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Booking.ApartmentID" class="control-label"></label>
        <input asp-for="Booking.ApartmentID" class="form-control" />
        <span asp-validation-for="Booking.ApartmentID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Booking.CheckIn" class="control-label"></label>
        <input asp-for="Booking.CheckIn" class="form-control" />
        <span asp-validation-for="Booking.CheckIn" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Booking.CheckOut" class="control-label"></label>
        <input asp-for="Booking.CheckOut" class="form-control" />
        <span asp-validation-for="Booking.CheckOut" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Book" class="btn btn-primary" />
    </div>
</form>
<br />
<br />
@if (!Model.IsBookingAvailable)
{
    <p class="text-danger">The selected apartment is not available for the chosen dates.</p>
}

@if (Model.BookingInserted)
{
    <p>Booking successful!</p>
    <p>Apartment ID: @Model.Booking.ApartmentID</p>
    <p>Level: @Model.ApartmentLevel</p>
    <p>Check-In: @Model.Booking.CheckIn.ToString("d")</p>
    <p>Check-Out: @Model.Booking.CheckOut.ToString("d")</p>
    <p>Cost: @Model.BookingCost.ToString("C")</p>
}
