@page "{sortOrder?}"
@model PSA_OM.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "My Bookings";
    var checkInSortParam = Model.CurrentSort == "checkin_desc" ? "checkin" : "checkin_desc";
    var costSortParam = Model.CurrentSort == "cost_desc" ? "cost" : "cost_desc";
}

<h1>My Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@checkInSortParam">Check-in Date</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].ApartmentID)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@costSortParam">Cost</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheTraveller.GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheTraveller.Surname)
            </th>
            @if (User.IsInRole("manager"))
            {
                <th>Operations</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Booking)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheRoom.ID)
                </td>
                <td>
                    @($"{item.Cost:C}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheTraveller.GivenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheTraveller.Surname)
                </td>
                @if (User.IsInRole("manager"))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
